h2 Nuevo docente
label(for='nombre') Nombre:
input(ng-model='form.nombre', name='nombre') 
label(for='apellido') Apellido:
input(ng-model='form.apellido', name='apellido')
label(for='id') Nro de documento:
input(ng-model='form.id', name='id')
label Tipo de documento:
    select.form-control(ng-model='form.tipo_dni', name='tipo_dni')
        option DNI
        option LC
label(for='fechaNac') Fecha de Nacimiento:
input(ng-model='form.fechaNac', name='fechaNac')
label(for='direccion') Dirección:
input(ng-model='form.direccion', name='direccion')
label(for='ciudad') Ciudad:
input(ng-model='form.ciudad', name='ciudad')
label(for='provincia') Provincia:
input(ng-model='form.provincia', name='provincia')
label(for='cp') CP:
input(ng-model='form.cp', name='cp')
label(for='email') E-mail:
input(ng-model='form.email', name='email')
label(for='telefono') Telefono:
input(ng-model='form.telefono', name='telefono')
p
  button(ng-click='submitDocente()') Guardar