<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>Colecciones<small>Panel de control</small></h1>
</section>
<section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Lista de Colecciones</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="coleccion in colecciones">
                      	<td><p>{{coleccion.id}}</p></td>
                       	<td><p>{{coleccion.descripcion}}</p></td>
                        <td><p><a href="coleccion/editar/{{coleccion.id}}" ><i class="fa fa-edit"></i>Editar</a><br>
                        	<a href="coleccion/borrar{{coleccion.id}}" ><i class="fa fa-ban"></i>Borrar</a>
                        </p></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
        </div><!-- col-xs-12 -->
    </div><!-- /.row (main row) -->
</section><!-- /.content -->
