<section class="content-header">
	<h1>Docentes<small>Panel de control</small></h1>
</section>
<section class="content">
          <div class="row">
            <div class="col-xs-12">
            	<div class="box">
				    <div class="box-header">
				        <h3 class="box-title">Nuevo docente</h3>
				    </div><!-- /.box-header -->
				    <div class="box-body">
				        <form role="form">
				            <div class="form-group">
				            	<label for="nombre">Nombre:</label>
								<input ng-model="form.nombre" name="nombre">
				            </div>
				            <div class="form-group">
				            	<label for="apellido">Apellido:</label>
								<input ng-model="form.apellido" name="apellido">
				            </div>
				            <div class="form-group">
				            	<label> Tipo de documento:
									<select ng-model="form.tipo_dni" name="tipo_dni" >
										<option value="DNI">DNI</option>
										<option value="LC">LC</option>
									</select>
								</label>
				            </div>
				            <div class="form-group">
				            	<label for="id">Nro de documento:</label>
								<input ng-model="form.id" name="id">
				            </div>
				            <div class="form-group">
				            	<label for="fecha_nac">Fecha de Nacimiento:</label>
								<input ng-model="form.fecha_nac" name="fecha_nac">

				            </div>

				            <div class="form-group">
				            	<label for="direccion">Dirección:</label>
								<input ng-model="form.direccion" name="direccion">
				            </div>
				            <div class="form-group">
				            	<label for="ciudad">Ciudad:</label>
								<input ng-model="form.ciudad" name="ciudad">
				            </div>
				            <div class="form-group">
				            	<label for="provincia"> Provincia:
									<select ng-model="form.provincia" name="provincia">
										<option ng-repeat="provincia in provincias" value="{{provincia.id_provincia}}">{{provincia.nombre_provincia}}</option>
									</select>
								</label>
				            </div>
				            <div class="form-group">
				            	<label for="cp">CP:</label>
								<input ng-model="form.cp" name="cp">
				            </div>
				            <div class="form-group">
				            	<label for="email">E-mail:</label>
								<input ng-model="form.email" name="email">
				            </div>
				            <div class="form-group">
				            	<label for="telefono">Telefono:</label>
								<input ng-model="form.telefono" name="telefono">
				            </div>

				            <div id="escuelas" class="box box-default">
							  <div class="box-header with-border">
							    <h3 class="box-title">Escuelas:</h3>
							    <div class="box-tools pull-right">
							    </div><!-- /.box-tools -->
							  </div><!-- /.box-header -->
							  <div class="box-body">
							  	<div class="form-escuela">
					            	<label for="escuela"> Escuela:
										<select ng-model="form.escuela" name="escuela" ng-change="getDataEscuela(form.escuela)">
											<option ng-repeat="escuela in escuelas" value="{{escuela.id}}">{{escuela.nombre}}</option>
										</select>
									</label>
									<div class="form-group">
					            		<label ng-model="escuela.localidad">Localidad: {{escuela.localidad}} </label>
					            	</div>
					            	<div class="form-group">
					            		<label ng-model="escuela.provincia">Provincia: {{escuela.provincia}} </label>
					            	</div>
				            	</div>
							  </div><!-- /.box-body -->
							</div><!-- /.box -->
				            <button class="btn-flat btn" type="button" ng-click="addEscuela()" >
							  <i class="fa fa-university"></i> Asignar escuela
							</button>

				            <div class="box-footer">
						        <button ng-click="submitDocente()" class="btn btn-primary">Guardar</button>
						    </div>
				        </form>
				    </div><!-- /.box-body -->
				</div><!-- /.box -->
        </div><!-- col-xs-12 -->
    </div><!-- /.row (main row) -->
</section><!-- /.content -->
