p There are {{docentes.length}} docentes
div(ng-repeat='docente in docentes')
  h3 {{docente.nombre}}
  a(href='readDocente/{{docente.id}}') Ver
  a(href='editDocente/{{docente.id}}') Editar
  a(href='deleteDocente/{{docente.id}}') Borrar