h2 Editar escuela
label(for='nombre') Nombre:
input(ng-model='form.nombre', name='nombre', value='{{form.nombre}}') 
label(for='telefono') Telefono:
input(ng-model='form.telefono', name='telefono', value='{{form.telefono}}')
label(for='email') E-mail:
input(ng-model='form.email', name='email', value='{{form.email}}')
label(for='sector') Sector:
input(ng-model='form.sector', name='sector', value='{{form.sector}}')
label(for='domicilio') Domicilio:
input(ng-model='form.domicilio', name='domicilio', value='{{form.domicilio}}')
label(for='localidad') Localidad:
input(ng-model='form.localidad', name='localidad' , value='{{form.localidad}}')
label(for='cp') Código Postal:
input(ng-model='form.cp', name='cp', value='{{form.cp}}')
label(for='distrito') Distrito:
input(ng-model='form.distrito', name='distrito', value='{{form.distrito}}')
label(for='ubicacion') Ubicación:
input(ng-model='form.ubicacion', name='ubicacion' , value='{{form.ubicacion}}')
label(for='provincia') Provincia:
input(ng-model='form.provincia', name='provincia' , value='{{form.provincia}}')
label(for='observaciones') Observaciones:
textarea(ng-model='form.observaciones', name='observaciones' , value='{{form.observaciones}}')
p
  button(ng-click='editEscuela()') Edit Escuela