h2 Docente
label(for='nombre') Nombre:
input(ng-model='docente.nombre', name='nombre', value='{{docente.nombre}}') 
label(for='apellido') Apellido:
input(ng-model='docente.apellido', name='apellido', value='{{docente.apellido}}'))
label(for='tipoDni') Tipo de documento:
input(ng-model='docente.tipo_dni', name='tipo_dni', value='{{docente.tipo_dni}}'))
label(for='dni') Nro de documento:
input(ng-model='docente.id', name='id', value='{{docente.id}}'))
label(for='direccion') Dirección:
input(ng-model='docente.direccion', name='direccion', value='{{docente.direccion}}'))
label(for='ciudad') Ciudad:
input(ng-model='docente.ciudad', name='ciudad',value='{{docente.ciudad}}'))
label(for='cp') CP:
input(ng-model='docente.cp', name='cp', value='{{docente.cp}}'))
label(for='email') E-mail:
input(ng-model='docente.email', name='email', value='{{docente.email}}'))
label(for='telefono') Telefono:
input(ng-model='docente.telefono', name='telefono', value='{{docente.telefono}}'))
label(for='provincia') Provincia:
input(ng-model='docente.provincia', name='provincia', value='{{docente.provincia}}'))