<h2>Escuela</h2>
<label for="nombre">Nombre:</label>
<input ng-model="form.nombre" name="nombre" value="{{form.nombre}}">
<label for="telefono">Telefono:</label>
<input ng-model="form.telefono" name="telefono" value="{{form.telefono}}">
<label for="email">E-mail:</label>
<input ng-model="form.email" name="email" value="{{form.email}}">
<label for="sector">Sector:</label>
<input ng-model="form.sector" name="sector" value="{{form.sector}}">
<label for="domicilio">Domicilio:</label>
<input ng-model="form.domicilio" name="domicilio" value="{{form.domicilio}}">
<label for="localidad">Localidad:</label>
<input ng-model="form.localidad" name="localidad" value="{{form.localidad}}">
<label for="cp">Código Postal:</label>
<input ng-model="form.cp" name="cp" value="{{form.cp}}">
<label for="distrito">Distrito:</label>
<input ng-model="form.distrito" name="distrito" value="{{form.distrito}}">
<label for="ubicacion">Ubicación:</label>
<input ng-model="form.ubicacion" name="ubicacion" value="{{form.ubicacion}}">
<label for="provincia">Provincia:</label>
<input ng-model="form.provincia" name="provincia" value="{{form.provincia}}">
<label for="observaciones">Observaciones:</label>
<textarea ng-model="form.observaciones" name="observaciones" value="{{form.observaciones}}"></textarea>

