extends layout

block body
  div
    h2 My Blog
    ul
      li
        a(href='/') Home
      li
        a(href='/addDocente') Add a new docente
      li
        a(href='/addEscuela') Add a new escuela

    div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')