<section class="content-header">
	<h1>Libros<small>Panel de control</small></h1>
</section>
<section class="content">
          <div class="row">
            <div class="col-xs-12">
            	<div class="box">
				    <div class="box-header">
				        <h3 class="box-title">Editar libro {{form.titulo}}</h3>
				        <pre>{{form.titulo}}</pre>
				    </div><!-- /.box-header -->
				    <div class="box-body">
				    	<form role="form">
				            <div class="form-group">
				            	<label  for="isbn">ISBN:</label>
								<input ng-model="form.isbn" name="isbn" value="{{form.isbn}}">
				            </div>
				            <div class="form-group">
				                <label  for="titulo">Título:</label>
								<input ng-model="form.titulo" name="titulo" value="{{form.titulo}}">
				            </div>
				            <div class="form-group">
				            	<label for="coleccion">Colección:
									<select ng-model="form.coleccion" name="coleccion">
										<option ng-repeat="coleccion in colecciones" value="{{coleccion.id}}" ng-selected="coleccion.id == form.id_col" ng-click="form.id_col = coleccion.id">{{coleccion.descripcion}}</option>
									</select>
								</label>
				            </div>
				            <div class="form-group">
				            	<label  for="paginas">Cantidad de páginas:</label>
				            	<input ng-model="form.paginas" name="paginas" value="{{form.paginas}}">
				            </div>
				            <div class="form-group">
				            	<label  for="peso">Peso:</label>
				            	<input ng-model="form.peso" name="peso" value="{{form.peso}}">
				            </div>
				            <div class="form-group">
				            	<label  for="precio">Precio:</label>
								<input ng-model="form.precio" name="precio" value="{{form.precio}}">
				            </div>
				            <div class="form-group">
				            	<label  for="autores">Autores:</label>
				            	<input ng-model="form.autores" name="autores" value="{{form.autores}}">
				            </div>
				            <div class="form-group">
				            	<label  for="formato">Formato:</label>
								<input ng-model="form.formato" name="formato" value="{{form.formato}}">
							</div>
				            <div class="box-footer">
						        <button ng-click="editLibro()" class="btn btn-primary">Guardar</button>
						    </div>
						</form>
				    </div><!-- /.box-body -->
				</div><!-- /.box -->
        </div><!-- col-xs-12 -->
    </div><!-- /.row (main row) -->
</section><!-- /.content -->						
