<section class="content-header">
	<h1>Libro<small>Panel de control</small></h1>
</section>
<section class="content">
          <div class="row">
            <div class="col-xs-12">
            	<div class="box">
				    <div class="box-header">
				        <h3 class="box-title">Nueva libro</h3>
				    </div><!-- /.box-header -->
				    <div class="box-body">
				        <form role="form">
				            <div class="form-group">
				            	<label  for="isbn">ISBN:</label>
								<input ng-model="form.isbn" name="isbn">
				            </div>
				            <div class="form-group">
				                <label  for="titulo">Título:</label>
								<input ng-model="form.titulo" name="titulo">
				            </div>
				            <div class="form-group">
				            	<label for="coleccion">Colección:
									<select ng-model="form.id_col" name="coleccion">
										<option ng-repeat="coleccion in colecciones" value="{{coleccion.id}}">{{coleccion.descripcion}}</option>
									</select>
								</label>
				            </div>
				            <div class="form-group">
				            	<label  for="paginas">Cantidad de páginas:</label>
				            	<input ng-model="form.paginas" name="paginas">							
				            </div>
				            <div class="form-group">
				            	<label  for="peso">Peso:</label>
				            	<input ng-model="form.peso" name="peso">
				            </div>
				            <div class="form-group">
				            	<label  for="precio">Precio:</label>
								<input ng-model="form.precio" name="precio">
				            </div>
				            <div class="form-group">
				            	<label  for="cp">Código Postal:</label>
				            	<input ng-model="form.cp" name="cp">
				            </div>
				            <div class="form-group">
				            	<label  for="autores">Autores:</label>
				            	<input ng-model="form.autores" name="autores">
				            </div>
				            <div class="form-group">
				            	<label  for="formato">Formato:</label>
								<input ng-model="form.formato" name="formato">
							</div>
				            <div class="box-footer">
						        <button ng-click="submitLibro()" class="btn btn-primary">Guardar</button>
						    </div>
						</form>
				    </div><!-- /.box-body -->
				</div><!-- /.box -->
        </div><!-- col-xs-12 -->
    </div><!-- /.row (main row) -->
</section><!-- /.content -->						
