<h2>Escuela</h2>
<label for="nombre">Nombre:</label>
<input ng-model="docente.nombre" name="nombre" value="{{docente.nombre}}">
<label for="apellido">Apellido:</label>
<input ng-model="docente.apellido" name="apellido" value="{{docente.apellido}}">
<label for="tipoDni">Tipo de documento:</label>
<input ng-model="docente.tipo_dni" name="tipo_dni" value="{{docente.tipo_dni}}">
<label for="dni">Nro de documento:</label>
<input ng-model="docente.id" name="id" value="{{docente.id}}">
<label for="fechaNac">Fecha de Nacimiento:</label>
<input ng-model="docente.fechaNac" name="fechaNac" value="{{docente.fechaNac}}">
<label for="direccion">Dirección:</label>
<input ng-model="docente.direccion" name="direccion" value="{{docente.direccion}}">
<label for="ciudad">Ciudad:</label>
<input ng-model="docente.ciudad" name="ciudad" value="{{docente.ciudad}}">
<label for="cp">CP:</label>
<input ng-model="docente.cp" name="cp" value="{{docente.cp}}">
<label for="email">E-mail:</label>
<input ng-model="docente.email" name="email" value="{{docente.email}}">
<label for="telefono">Telefono:</label>
<input ng-model="docente.telefono" name="telefono" value="{{docente.telefono}}">
<label for="provincia">Provincia:</label>
<input ng-model="docente.provincia" name="provincia" value="{{docente.provincia}}">