/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.skin-blue .main-header .logo {
  position: relative;
  z-index: 9999;
}
.navbar {
  margin-bottom: 0!important;
}
.table td{
  font-weight: 400!important;
  word-wrap: break-word;
  font-size: 0.95em;
}
.table { table-layout: fixed; }
.table td p{
  display: inline;
  max-width: 30px;
}
form input, form textarea{
  font-weight: 400!important;
}
.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
  padding: 3px;
}
.col-md-6 {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    float: none;
}
.info{
  background: #f4f4f4;
  color: #666;
  font-weight: 400;
  padding: 15px;
  position: relative;
  margin-top: 10px;
}
.info .btn-cerrar{
  position: absolute;
  right: 0;
  top: 0;
}
.content.login .row{
    text-align: center;
}
.content.login .col-xs-4{
  text-align: left;
  margin: auto;
  float: none;
}